<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/defaultTemplate">

<head>
	<meta charset="UTF-8">
	<title th:text="${title}">Expenses</title>
	<link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
	<div layout:fragment="content">
		<section class="main-form">
			<h3>Add Expense</h3>
			<form th:action="@{/expenses/addExpense}" method="post">
				<div class="form-group">
					<label for="description">Description</label>
					<input type="text" id="description" name="description" required>
				</div>
				<div class="form-group">
					<label for="amount">Amount</label>
					<input type="number" id="amount" name="amount" step="0.01" required>
				</div>
				<div class="form-group">
					<label for="category">Category</label>
					<div class="btn-row-container">
						<select class="selector" name="category" id="category">
							<option value="" selected disabled>Select a category</option>
							<option for="category" th:each="category : ${categories}" th:value="${category[0].category}"
								th:text="${category[0].category}">Category</option>
						</select>
						<input type="text" id="newCategory" name="newCategory" placeholder="New Category">
					</div>
				</div>
				<div class="form-group">
					<label for="date">Date</label>
					<input type="date" id="date" name="date" required>
				</div>
				<div class="form-group">
					<label for="notes">Notes</label>
					<input type="text" id="notes" name="notes">
				</div>
				<div class="form-group">
					<button id="addExpense" class="expense-btn" type="submit">Add Expense</button>
				</div>
			</form>
		</section>
		<div>
			<h3 th:text="${spelledOutDate} + ' Expenses'">Expense List</h3>
		</div>

		<div class="main-table" th:each="categoryList : ${categories}">
			<h3 th:text="${categoryList[0].category}">Category</h3>
			<h5 th:text="' (Total Spent: $' + ${#aggregates.sum(categoryList.![amount])} + ')'">Category Total</h5>
			<table>
				<thead>
					<tr>
						<th>Description</th>
						<th>Amount</th>
						<th>Category</th>
						<th>Date</th>
						<th>Notes</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${categories == null or categories.isEmpty()}">
						<td colspan="5" class="no-expense">No Expenses Yet</td>
					</tr>
					<tr th:each="expense : ${categoryList}">
						<td><span th:text="${expense.description}">Salary</span></td>
						<td><span th:text="'$' + ${#numbers.formatDecimal(expense.amount, 1, 2)}">0.00</span></td>
						<td><span th:text="${expense.category}">Groceries</span></td>
						<td><span th:text="${#dates.format(expense.date, 'MM/dd/yy')}">1/1/01</span></td>
						<td><span th:text="${expense.notes != null ? expense.notes : 'No notes'}">Notes</span></td>
						<td>
							<form th:action="@{/expenses/deleteExpense}" method="post">
								<button type="submit" th:name="expenseId" class="delete-btn"
									th:value="${expense.id}">Delete</button>
							</form>
						</td>
						<td>
							<form th:action="@{/expenses/expenseToUpdate}" method="post">
								<button type="submit" th:name="expenseId" class="btn"
									th:value="${expense.id}">Edit</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	</div>
</body>

</html>